
@model EntityOrder;
<div class=" align-items-center">
	<h5>We have succesfully received your payment. Thank you !!</h5>
</div>
<div class=" row">
	<div class ="col-md-6">
		<div class=" col-form-label">
			TransactionID:@Html.DisplayText("TransactionID")


		</div>

	</div>
</div>

